apiVersion: v1
kind: Service
metadata:
  name: qianxue-test-barnum-service
  namespace: qianxue-test-barnum-ns
  labels:
    app: qianxue-test-barnum
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: qianxue-test-barnum
