apiVersion: v1
kind: Service
metadata:
  name: mind-eden-service
  namespace: mind-eden-ns
  labels:
    app: mind-eden
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: mind-eden
